:root{
  --main-font-family: "Helvetica";
  --main-bg-color: #425D7F;
  --second-bg-color: #6A95CB;
  --main-link-color: #49668C;
}

html{
  height: 100%;
  min-height: 100%;
  font-family: var(--main-font-family);
}

header{
  padding: 0px;
}

body{
  background-color: var(--main-bg-color);
  color: #373737;
  font-family: var(--main-font-family);
}

footer{
  text-align: center;
  margin-left: 23%;
  width: 55%;
  height: 200px;
  border-width:1px 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: var(--second-bg-color);
  overflow: hidden;
}

a {
  color: var(--main-link-color);
}

.container{
  background-color: White;
  width: 55%;
  min-height: 400px;
}

.d-block w-100{
  overflow: hidden;
}

#carousel {
  height: 100%;
  width: 60%;
  max-height: 400px;
  overflow: hidden;
  margin-left: 20%;
  border-radius: 5px, 5px, 0px, 0px;
}

.nav-container{
  margin-left: 20%;
  width: 60%;
  background-color: var(--second-bg-color);
  position: relative;
  text-align: center;

}

.navbar{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.nav-link{
  color: var(--main-link-color);
}

.home {
  padding: 2%;
  text-align: center;
}

.website-text{
  text-align: left;
  margin-top: 2.5%;
  margin-left: 20%;
  margin-right: 20%;
}

.table{
  width: 100%;
  padding: 0px;
}

.table td{
  width: 15%;
}
